@font-face {
  src: url("../font/Charline font.otf");
  font-family: YellowTail;
}

@font-face {
  src: url("../font/LeagueSpartan-Bold.otf");
  font-family: LeagueSpartan;
}

table tr {
  border: 1px solid black;
  border-radius: 20px;
}

div.tables {
  padding: 20px;
  box-sizing: border-box;
}

.table-header p {
  font-family: LeagueSpartan;
}

div[class="row tables"] {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
}

div.table-header>p {
  font-family: LeagueSpartan;
}

.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table th {
  vertical-align: center
}

.cancel {
  width: 15px;
  height: 15px;
}

#username {
  width: 22%;
}

#password {
  width: 22%;
}

#nome-locale {
  width: 22%;
}

#modify {
  width: 15%;
}

#notify {
  width: 15%;
}

#remove {
  width: 6%;
}

@media screen and (max-width: 981px) {
  nav {
    transform: scaleX(-1);
  }

  nav > *{
    transform: scaleX(-1);
  }

  #username {
    width: 40%;
  }

  #modify {
    width: 25%;
  }

  #notify {
    width: 25%;
  }

  #remove {
    width: 10%;
  }
}
