@font-face {
  src: url("../font/YellowTail-Regular.otf");
  font-family: YellowTail;
}

@font-face {
  src: url("../font/LeagueSpartan-Bold.otf");
  font-family: LeagueSpartan;
}

h6, small {
  font-family: Helvetica;
  font-weight: lighter;
}

#greed {
  padding: 20px;
}

.card {
  height: 100%;
}

img.icon {
  width: 100px;
  padding: 10px;
}

#recensione {
  font-style: italic;
  text-decoration: underline;
}

#voto {
  font-size: 13px;
}

.local-image {
}
