@font-face {
  src: url("../font/YellowTail-Regular.otf");
  font-family: YellowTail;
}

@font-face {
  src: url("../font/LeagueSpartan-Bold.otf");
  font-family: LeagueSpartan;
}

figcaption{
  font-family: LeagueSpartan;
}

h6{
  font-family: YellowTail;
}

.nomelocale{
  font-family: YellowTail;
}

.rei{
}

.immaginelocale{
  height: 30px;
  width: 30px;
}

/*img{
	height: 400px;
	width: 300px;
}*/



/*

<div class="row text-center text-lg-left">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../res/icona.png" alt="...">
        <div class="caption">
          <h3>Pizza Margherita</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Acquista</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
        </div>
      </div>
      <div class="thumbnail">
        <img src="../res/icona.png" alt="...">
        <div class="caption">
          <h3>Pizza Margherita</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Acquista</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
        </div>
      </div>
      <div class="thumbnail">
        <img src="../res/icona.png" alt="...">
        <div class="caption">
          <h3>Pizza Margherita</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Acquista</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
        </div>
      </div>
      <div class="thumbnail">
        <img src="../res/icona.png" alt="...">
        <div class="caption">
          <h3>Pizza Margherita</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Acquista</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
        </div>
      </div>
      <div class="thumbnail">
        <img src="../res/icona.png" alt="...">
        <div class="caption">
          <h3>Pizza Margherita</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Acquista</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
        </div>
      </div>
      <div class="thumbnail">
        <img src="../res/icona.png" alt="...">
        <div class="caption">
          <h3>Pizza Margherita</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Acquista</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
        </div>
      </div>
      <div class="thumbnail">
        <img src="../res/icona.png" alt="...">
        <div class="caption">
          <h3>Pizza Margherita</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Acquista</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
        </div>
      </div>
      <div class="thumbnail">
        <img src="../res/icona.png" alt="...">
        <div class="caption">
          <h3>Pizza Margherita</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Acquista</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
        </div>
      </div>
    </div>
  </div>
*/