@font-face {

}

html {
  height: 100%;
}

body {
  background: url("../res/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

div.title {
  width: 100%;
  margin-bottom: 3%;
}

h1 {

}

h2 {
  font-size: 16px;
  color: white;
}

#login {
  height: 100%;
  background-color: rgba(255,255,255,0.6);
}

img {
  margin-top: 10%;
  width: 40%;
}

input[type="submit"] {
  width: 20%;
  margin-top: 3%;
  font-weight: bold;
}

input[type="password"], input[type="text"] {
  margin-top: 3%;
  background-color: rgba(255,255,255,0.5);
}

@media screen and (max-width: 576px) {
  #login {
    margin: 0 0 0 0;
    background-color:  rgba(255,255,255,0.4);
  }
}
