@font-face {
  src: url("../font/YellowTail-Regular.otf");
  font-family: YellowTail;
}

@font-face {
  src: url("../font/LagueSpartan-Bold.otf");
  font-family: LagueSpartan;
}

html {
  height: 100%;
}

body {
  background: url("../res/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

div.title {
  width: 100%;
  margin-bottom: 3%;
}

h1 {
  font-family: LagueSpartan;
}

h2 {
  font-family: YellowTail;
  font-size: 20px;
  color: white;
}

#login {
  height: 100%;
  background-color: rgba(255,255,255,0.6);
}

img {
  margin-top: 10%;
  width: 40%;
}

input[type="submit"] {
  width: 25%;
  margin-top: 3%;
  font-weight: bold;
}

input[type="password"], input[type="text"] {
  margin-top: 3%;
  background-color: rgba(255,255,255,0.5);
}

@media screen and (max-width: 576px) {
  #login {
    background-color: rgba(255,255,255,0.4);
  }
}
